<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Hi!!! This Is Server? </p>
  <form action="public/upload" method="post" enctype="multipart/form-data">
  File Upload   <input type="file" name="myFile" ><br><hr>
    <input type="submit" name="submit" value="Submit">

  </form>
  </body>
</html>
